body
{
    display: flex;
    flex-direction: column;
    margin: 0%;
}

.imageBanner
{
    display: flex;
    height: 35%;
}

.logo
{
    display: flex;
    width: 20%;
}

.gap
{
    display: flex;
    width: 30%;
}

.who
{
    display: flex;
    width: 50%;
}

.captionBanner
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Bankgothic md bt;
    font-size: 250%;
    height: 20%;
    background-color: rgb(0, 143, 214);
    user-select: none;
}

.foot
{
    display: flex;
    height: 5%;
    background-color: rgb(0, 143, 214);
}

.docName
{
    display: flex;
    height: 10%;
    align-items: center;
    padding-left: 3%;
    font-family: Bankgothic md bt;
    font-size: 150%;
}

.PDetails
{
    display: flex;
    height: 10%;
    align-items: center;
    padding-left: 3%;
    font-family: Bankgothic md bt;
    font-size: 200%;
}

.chooseDate
{
    display: flex;
    flex-direction: column;
    height: 20%;
    align-items: center;
    font-family: Bankgothic md bt;
    margin: 0%;
}

.datestamp
{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: Bankgothic md bt;
    font-size: 200%;
    margin: 0%;
}

.dateSubmit
{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Bankgothic md bt;
    font-size: 200%;
}

.submit
{
    display: flex;
    height: 70%;
    width: 15%;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-right-color: black;
    justify-content: center;
    align-items: center;
    font-family: Bankgothic md bt;
    font-size: 60%;
    color: white;
    background-color: rgb(148, 148, 184);
    user-select: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.submit:hover
{
    display: flex;
    height: 80%;
    width: 17.13%;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-right-color: black;
    justify-content: center;
    align-items: center;
    font-family: Bankgothic md bt;
    font-size: 68.52%;
    color: white;
    background-color: rgb(148, 148, 184);
    user-select: none;
    cursor: pointer;
    transition-duration: 0.5s;
}